<html lang="en" ng-app="bootrank">

<head>
  <meta name="viewport" content="initial-scale=1" />
  <base href="/">
  <link rel="stylesheet" href="lib/angular-material/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>BootRank</title>
</head>

<body layout="column">
  <md-toolbar ng-controller="LoginCtrl as ctrl">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Settings">
        <i class="material-icons md-48">brightness_auto </i>
      </md-button>
      <h2>
          <span>BootRank</span>
        </h2>
      <span flex></span>
      <md-button aria-label="Favorite" ng-if="user">
        {{user.name}}
      </md-button>
      <md-button aria-label="user.picture" class="md-icon-button" ng-if="user">
        <img ng-src="{{user.picture}}" class="md-avatar user-image" alt="{{item.who}}" style="background-image: url('{{user.picture}})" />
      </md-button>
      <md-button aria-label="Favorite" ng-if="user">
        <i class="material-icons">menu</i>
        <md-tooltip md-direction="down">
          Menu
        </md-tooltip>
      </md-button>
      <span flex="1"></span>
    </div>
  </md-toolbar>
  <md-content ui-view>
  </md-content>
  <!-- Angular Material Dependencies -->
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular-animate/angular-animate.min.js"></script>
  <script src="lib/angularfire/dist/angularfire.min.js"></script>
  <script src="lib/angular-aria/angular-aria.min.js"></script>
  <script src="lib/angular-material/angular-material.min.js"></script>
  <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="lib/firebase/firebase.js"></script>
  <script src="lib/angularfire/dist/angularfire.min.js"></script>
  <!-- App servises -->
  <script src="js/services/services.js"></script>
  <!-- App controllers -->
  <script src="js/controllers/controllers.js"></script>
  <!-- App Scripts -->
  <script src="js/app.js"></script>
</body>

</html>
