<div layout-fill="layout-fill" class="md-default-theme no-bg">
    <section class="full-container" align="center">
        <div class="md-padding top-margin medium">
            <h1 class="normal text-color text-center larger-text">404</h1>
            <h1 class="text-center"><i class="fa fa-exclamation-triangle fa-5x"></i></h1>
            <h1 class="top-margin small normal text-color text-center">The page you tried to access was not found</h1>
            <h4 class="top-margin small normal text-color text-center">Die Seite, die Sie den Zugriff versucht wurde nicht gefunden</h4>
            <h5 class="top-margin small normal text-color text-center">La page que vous avez essayé d'accéder n'a pas été trouvé</h5>
            <h6 class="top-margin small normal text-color text-center">La página que intentó acceder no se encontró</h6></div>
    </section>
</div>
