<div layout='row' flex>
  <div layout='column' flex='20'>
   <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-list>
        <md-subheader class="md-no-sticky">
          Bootcamp projects
          <md-input-container>
            <i class="material-icons"> sort</i>
            <label>Search</label>
            <input ng-model="search"></input>
          </md-input-container>
        </md-subheader class="md-no-sticky">
        <md-divider></md-divider>
        <md-list-item class="md-2-line" ng-repeat="project in projects | filter:search" ng-click="changeCurrentProject(project)">
          <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
          <div class="md-list-item-text" layout="column">
            <h3>{{ project.project }}</h3>
            <h4>{{ project.name }}</h4>
          </div>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-sidenav>
  </div>
  <div layout='column' flex='80'>
    <md-card class='md-padding black-card md-margin' layout='row'>
      <div layout='row' style='margin-left: 30px' flex>
        <span class='white-text fa fa-2x fa-user md-margin'></span>
        <p class='white-text md-headline bold-text md-margin'>NAME: </p>
        <p class='white-text md-headline md-margin' flex> Some Name</p>
      </div>
      <div layout='row' style='margin-left: 30px' flex>
        <span class='white-text fa fa-2x fa-folder md-margin'></span>
        <p class='white-text md-headline bold-text md-margin'>PROJECT: </p>
        <p class='white-text md-headline md-margin' flex> Some Project Name</p>
      </div>
    </md-card>
    <md-card class='md-padding md-margin' style='height: 250px'>
      <div layout='row' flex>
        <md-card class='card-blue md-margin md-padding' layout='column' flex>
          <div layout='row'>
            <span class='fa fa-2x fa-key md-margin white-text packed-top'></span>
            <p class='md-headline packed-top packed-bottom white-text bold-text'>Confidence</p>
          </div>
          <div layout='row' layout-align='center center'>
            <p class='md-display-4 white-text bold-text packed-top packed-bottom'>5</p>
          </div>
        </md-card>
        <md-card class='card-green md-margin md-padding' layout='column' flex>
          <div layout='row'>
            <span class='fa fa-2x fa-trophy md-margin white-text packed-top'></span>
            <p class='md-headline packed-top packed-bottom white-text bold-text'>Quality</p>
          </div>
          <div layout='row' layout-align='center center'>
            <p class='md-display-4 white-text bold-text packed-top packed-bottom'>5</p>
          </div>
        </md-card>
        <md-card class='card-pink md-margin md-padding' layout='column' flex>
          <div layout='row'>
            <span class='fa fa-2x fa-picture-o md-margin white-text packed-top'></span>
            <p class='md-headline packed-top packed-bottom white-text bold-text'>UI-UX</p>
          </div>
          <div layout='row' layout-align='center center'>
            <p class='md-display-4 white-text bold-text packed-top packed-bottom'>5</p>
          </div>
        </md-card>
        <md-card class='card-orange md-margin md-padding' layout='column' flex>
          <div layout='row'>
            <span class='fa fa-2x fa-graduation-cap md-margin white-text packed-top'></span>
            <p class='md-headline packed-top packed-bottom white-text bold-text'>Understanding</p>
          </div>
          <div layout='row' layout-align='center center'>
            <p class='md-display-4 white-text bold-text packed-top packed-bottom'>5</p>
          </div>
        </md-card>
      </div>
    </md-card>
    <div layout='row'>
      <md-card layout='column' class='md-margin md-padding' flex>
        <md-list-item class="md-3-line" ng-repeat="item in todos">
          <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
          <div class="md-list-item-text" layout="column">
            <h3>{{ item.who }}</h3>
            <h4>{{ item.what }}</h4>
            <p>{{ item.notes }}</p>
          </div>
        </md-list-item>
      </md-card>
      <md-card flex>
        <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels">
        </canvas>
      </md-card>
    </div>
  </div>
