<md-bottom-sheet class="md-grid bottom-sheet" layout="column" ng-cloak ng-controller="DialogCtrl">
  <div layout="row" layout-align="center center">
    <h4>Dashboard menu</h4>
  </div>
  <md-list flex layout="row" layout-align="center center">
    <md-list-item>
      <md-button class="md-grid-item-content" ng-click="showInvite()">
        <i class="material-icons md-36">playlist_add</i>
      </md-button>
      <div class="md-grid-text">Invite</div>
    </md-list-item>
    <md-list-item>
      <md-button class="md-grid-item-content" ng-click="dashboard()">
        <i class="material-icons md-36">dashboard</i>
      </md-button>
      <div class="md-grid-text">Dashboard</div>
    </md-list-item>
    <md-list-item>
      <md-button class="md-grid-item-content" ng-click="logout()">
        <i class="material-icons md-36">input</i>
      </md-button>
      <div class="md-grid-text">Log out</div>
    </md-list-item>
  </md-list>
</md-bottom-sheet>
