<div layout="column" style="height:900px;" ng-cloak>
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" class="projects">
    <md-list>
    <md-list-item class="md-2-line" ng-repeat="project in projects" ng-click="">
    <div class="md-list-item-text" layout="column">
      <h3>{{ project.title }}</h3>
      <h4>{{ project.bootcamper }}</h4>
    </div>
    <md-divider ></md-divider>
    </md-list-item>
    </md-list>
    </md-sidenav>
    <md-content flex layout-padding>
    <div layout="column" layout-fill layout-align="top center" layout-padding layout-margin>
      <span class="md-title">{{currentProject.title}}</span> <small>{{currentProject.bootcamper}}</small>
      <p>
        {{currentProject.description}}
      </p>
      <br/>
      <h2 class="md-title">Add Rating (1:- Not Done Well - 10: Excellent Work)</h2>
      <div class="rating" layout-fill>
        <div layout="row">
          <div flex="20">
            Project Quality:
          </div>
          <md-slider flex="80" md-discrete ng-model="rating.quality" step="1" min="1" max="10" aria-label="rating"></md-slider>
        </div>
        <div layout="row">
          <div flex="20">
            User Interface/Experience:
          </div>
          <md-slider flex="80" md-discrete ng-model="rating.uiux" step="1" min="1" max="10" aria-label="rating"></md-slider>
        </div>
        <div layout="row">
          <div flex="20">
            Confidence:
          </div>
          <md-slider flex="80" md-discrete ng-model="rating.confidence" step="1" min="1" max="10" aria-label="rating"></md-slider>
        </div>
        <div layout="row">
          <div flex="20">
            Project Understanding:
          </div>
          <md-slider flex="80" md-discrete ng-model="rating.understanding" step="1" min="1" max="10" aria-label="rating"></md-slider>
        </div>
        <md-input-container>
          <label>Comment</label>
          <textarea ng-model="rating.comment"></textarea>
        </md-input-container>
        <div layout="row">
          <span flex></span>
          <md-button class="md-raised md-primary">Submit</md-button>
        </div>
      </div>
    </div>
    <div flex></div>
    </md-content>
  </section>
</div>