<md-dialog aria-label="invite" ng-cloak ng-controller="InviteCtrl">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Invite Bootcamper</h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-dialog-content class="invite">
    <div class="md-dialog-content">
      <i class="fa fa-plus-square fa-1x"></i> Add bootcampers email addresses here, Ensure that all are there before you submit.
      <hr>
      <md-chips ng-model="tags" placeholder="Enter a tag" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="+Tag">
      </md-chips>
      <md-button class="md-raised md-primary" ng-click="addBootcamper()">Primary</md-button>
    </div>
</md-dialog>
