<md-card class="home">
    <div class="jumbotron-image md-card-image">
        <div class="image-underlay">
        </div>
        <div class="image-overlay">
            <p>Welcome to Bootrank</p>
            <p class="jumbotron-middle-small-text">Where your opinion counts</p>
            <p>
                <md-button class="md-raised md-warn login" ng-click="login()">
                    <i class="fa fa-google-plus-square fa-2x"></i>
                    <span>Login with Google</span>
                </md-button>
            </p>
        </div>
    </div>
</md-card>
