<div class="register-project">
  <md-card layout="column" layout-md="column" layout-sm="column">
    <md-card-content class="content">
      <md-subheader class="md-no-sticky">
        <p\>Below is the project submission form , ensure that you fill all the fields, read through your submission carefully before you submit your project</p\>
        <h2>{{message}}</h2>
      </md-subheader>
    </md-card-content>
  </md-card>
  <md-card layout="column" layout-md="column" layout-sm="column">
    <md-card-content>
      <h4 class="md-dispaly-4">Project submission form</h4>
      <br>
      <form ng-submit="submitProject()">
        <md-input-container><i class="material-icons">  info</i>
          <input placeholder="project Name" ng-model="submission.project" type="text" ng-required="true" rows="5" aria-label="submission.description">
          </textarea>
        </md-input-container>
        <md-input-container><i class="material-icons">  description</i>
          <textarea placeholder="Describe your project" ng-model="submission.description" type="text" ng-required="true" rows="3" aria-label="submission.description"></textarea>
        </md-input-container>
        <br/>
        <md-button type="submit" class="md-raised md-warn login-button">Submit</md-button>
      </form>
    </md-card-content>
  </md-card>
</div>
