meta(name='viewport', content='initial-scale=1')
base(href='/')
link(rel='stylesheet', href='lib/angular-material/angular-material.min.css')
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
link(rel='stylesheet', href='lib/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', href='css/app.css')
// Angular Material Dependencies
script(src='lib/angular/angular.min.js')
script(src='https://rawgit.com/nnnick/Chart.js/master/Chart.min.js')
script(src='https://rawgit.com/jtblin/angular-chart.js/master/dist/angular-chart.min.js')
script(src='lib/angular-animate/angular-animate.min.js')
script(src='lib/angularfire/dist/angularfire.min.js')
script(src='lib/angular-aria/angular-aria.min.js')
script(src='lib/angular-material/angular-material.min.js')
script(src='lib/angular-ui-router/release/angular-ui-router.min.js')
script(src='lib/angular-sanitize/angular-sanitize.min.js')
script(src='lib/ng-csv/build/ng-csv.min.js')
script(src='lib/firebase/firebase.js')
script(src='lib/angularfire/dist/angularfire.min.js')

// App Scripts
script(src='js/app.js')
title BootRank
