md-bottom-sheet.md-grid.bottom-sheet(layout='column', ng-cloak='', ng-controller='DialogCtrl')
  div(layout='row', layout-align='center center')
    h4 Dashboard menu
  md-list(flex='', layout='row', layout-align='center center')
    md-list-item
      md-button.md-grid-item-content(ng-click='showInvite()')
        i.material-icons.md-48 playlist_add
      .md-grid-text Invite
    md-list-item
      md-button.md-grid-item-content(ng-click="go('dashboard')")
        i.material-icons.md-48 dashboard
      .md-grid-text Dashboard
    md-list-item
      md-button.md-grid-item-content(ng-click="go('home')")
        i.material-icons.md-48 home
      .md-grid-text Home
    md-list-item
      md-button.md-grid-item-content(ng-click='logout()')
        i.material-icons.md-48 input
      .md-grid-text Log out
